[Unit]
Description=LimeOS containerd
After=network.target

[Service]
Type=exec
User=limeos-containerd
Group=limeos-container-access
SupplementaryGroups=docker
ExecStart=/usr/lib/limeos/limeos-executor /etc/limeos/system-policy/container.json /run/limeos-containerd/executor.sock
RuntimeDirectory=limeos-containerd
RuntimeDirectoryMode=0750
UMask=0077
LimitCORE=0
MemorySwapMax=0
ProtectProc=invisible
Restart=on-failure
RestartSec=2s
TimeoutStartSec=15s
TimeoutStopSec=15s
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=strict
ProtectHome=yes

ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
RestrictSUIDSGID=yes
RestrictRealtime=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictAddressFamilies=AF_UNIX
CapabilityBoundingSet=
AmbientCapabilities=
SystemCallArchitectures=native
SystemCallFilter=@system-service
LimitNOFILE=128
TasksMax=16
MemoryMax=32M
CPUQuota=50%
[Install]
WantedBy=multi-user.target
